<footer class="pie">
    <div class="header">
        <div class="logo">
            <p>information Store</p>
        </div>
        <div class="redes">
            <span class="fb"><i class="fa-brands fa-facebook"></i></span>
            <span class="tw"><i class="fa-brands fa-twitter"></i></span>
            <span class="in"><i class="fa-brands fa-instagram"></i></span>
            <span class="li"><i class="fa-brands fa-linkedin"></i></span>
            <span class="yt"><i class="fa-brands fa-youtube"></i></span>
        </div>
    </div>
<hr>
    <div class="section">
        <div>
            <h2>Compañia</h2>
            <a href="#">Inicio</a>
            <a href="#">Contactanos</a>
            <a href="#">Acerca de la tienda</a>
            <a href="#">Empieza</a>
        </div>
        <div>
            <h2>Servicios</h2>
            <a href="#">Diseño de app</a>
            <a href="#">Diseño de web</a>
            <a href="#">Diseño de logo</a>
            <a href="#">Diseño de Banners</a>
        </div>
        <div>
            <h2>Cuenta</h2>
            <a href="#">Perfil</a>
            <a href="#">Mi cuenta</a>
            <a href="#">Preferencias</a>
            <a href="#">Compra</a>
        </div>
        <div>
            <h2>Cursos</h2>
            <a href="#">HTML & CSS</a>
            <a href="#">JavaScript</a>
            <a href="#">Photografia</a>
            <a href="#">Photoshop</a>
        </div>
        <div>
            <h2>Suscribete</h2>
            <form action="">
            <input type="text" placeholder="Ingresa tu correo">
            <button type="submit">Suscribe</button>
          </form> 
        </div>
     </div>
     <div class="derechos">
        <p>Copyright <i class="fa-regular fa-copyright">Kloika</i></p>
        <p>Privacy Policy Terms and condition</p>
     </div>
</footer>